/src @kirschzao +COLOCAR_OS_PARTICIPANTS_AQUI
\*.yml @kirschzao +COLOCAR_OS_PARTICIPANTS_AQUI
.github/ @kirschzao +COLOCAR_OS_PARTICIPANTS_AQUI
/prisma @kirschzao +COLOCAR_OS_PARTICIPANTS_AQUI
\*.json @kirschzao
