node_modules
npm-debug.log
yarn-error.log

dist
build
out
.next

.vscode
.idea
.swp
.swo
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db

.git
.gitignore
.gitattributes

.env
.env.*
!.env.example

Dockerfile
docker-compose.yml
.dockerignore

coverage
logs
*.log
npm-debug.log*